:root {
    --primary-color: #006aeb;
    --secondary-color: #f13d41;
    --border-color: gray;
}

.App {
    padding-bottom: 50px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.task-list .task {
    border: 1px solid lightgray;
    padding: .75em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    box-shadow: 4px 4px 10px #bbb;
}

.task summary {
    padding: .5em;
    user-select: none;
    cursor: pointer;
}

.task-form {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid lightgray;
    background: linear-gradient(180grad, #FDFFDB, #fff);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: .2em;
}

.task-name-input {
    display: flex;
    flex-direction: column;
}

.task-description-input {
    display: flex;
    flex-direction: column;
}

.task-completed-input {
    display: block;
}

.task .task-body {
    padding: .5em;
}

.task .task-actions {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    gap: .5em;
}

.btn {
    padding: .4em .6em;
    outline: none;
    border: none;
    border-radius: .3em;
    transition: opacity 150ms, box-shadow 150ms, transform 150ms;
    user-select: none;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px gray;
    transform: scale(1.05);
}

.btn.secondary {
    background: var(--secondary-color);
    color: white;
}

.btn.primary {
    background: var(--primary-color);
    color: white;
}


.link-to-parent {
    text-decoration: none;
    color: rgb(0, 106, 235);
    opacity: .8;
    transition: opacity 250ms;
    text-overflow: ellipsis;
    max-width: 10em;
    white-space: nowrap;
    overflow: hidden;
}

.right {
    float: right;
}

.link-to-parent:hover {
    text-decoration: underline;
    opacity: 1;
}

label {
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.4);
    margin-right: .6em;
}

/* tab */
.tab-container {
    /*border: 1px solid red;*/
}

.tab-bar {
    display: flex;
}

.tab-button {
    padding: .5em 1em;
    border: 1px solid white;
    border-right: 1px solid white;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    cursor: pointer;
    user-select: none;
    background: var(--primary-color);
    color: white;
    transition: background 250ms, opacity 250ms;
}

.tab-button:hover[data-active="false"] {
    opacity: .8;
}

.tab-button[data-active="true"] {
    background: white;
    color: black;
}

.tab-button[data-active="true"] {
    border: 1px solid var(--border-color);
    border-bottom: 1px solid white;
}

.tab-content {
    margin-top: -1px;
    border: 1px solid var(--border-color);
    padding: .2em 1.5em 2em 1.5em;
}
